.container {
     display: flex; 
     margin-left: 50px;
     
    background-image: url(images/fon.png) ;
    height: 1500px;
    width: 2500px;
}

.shapohka2 {
    list-style: none;
    display: flex;
    position: absolute;
    top: -20px; left: 200px;
   

}

.shapohka2 li {
   
    display: inline-block;
    margin: 50px;
    
}
.right {
    text-align: right;
   margin-left: 300px;
    
    margin-top: 54px;
}

.logo {
    height: 100px;
    margin-top: 32px;
    margin-left: 20px;
   
}

.silka {
    text-decoration: none;

}

.silka a {
    color: white;
    transition: ease;
    font-family: "Rubik Mono One";
    
}

.silka a:hover {
   color: aqua ;
   transition:0.9s ease;
}
@font-face {
    font-family:"Rubik Mono One" ;
    src: url(fonts/RubikMonoOne-Regular.ttf);
}
.text {
    text-align: left;
    font-family: "Rubik Mono One";
    margin-top: 350px;
    margin-left: 50px;
    display: inline;
    height: 200px;
    color: white;
    
}